AUTHENTICATION_PROVIDER=basic
AUTHORIZER_PRINCIPAL_DOMAIN=open-metadata.org
AUTHORIZER_ADMIN_PRINCIPALS=[admin]

# --- Tạm thời tắt OIDC ---
# AUTHENTICATION_PROVIDER=custom-oidc
# AUTHENTICATION_CLIENT_TYPE=confidential
# AUTHENTICATION_PUBLIC_KEYS=[http://172.16.239.1:8081/api/v1/oidc/jwks]
# AUTHENTICATION_AUTHORITY=http://172.24.222.70:8081
# AUTHENTICATION_CALLBACK_URL=http://localhost/callback
# AUTHORIZER_PRINCIPAL_DOMAIN=agribank.com.vn
# AUTHORIZER_ADMIN_PRINCIPALS=[phuledinh]
# AUTHORIZER_USE_ROLES_FROM_PROVIDER=true
# AUTHORIZER_DEFAULT_OAUTH_ROLE=BasicConsumer
# OIDC_CLIENT_ID=openmetadata
# OIDC_CLIENT_SECRET=om-client-secret
# OIDC_DISCOVERY_URI=http://172.16.239.1:8081/api/v1/oidc/.well-known/openid-configuration
# OIDC_CALLBACK=http://localhost/callback
# OIDC_SERVER_URL=http://172.24.222.70:8081