# AUTHENTICATION_PROVIDER=basic
# AUTHORIZER_PRINCIPAL_DOMAIN=open-metadata.org
# AUTHORIZER_ADMIN_PRINCIPALS=[admin]

# --- Tạm thời tắt OIDC ---
AUTHENTICATION_PROVIDER=custom-oidc
AUTHENTICATION_CLIENT_TYPE=confidential
# Khóa công khai và Authority của OIDC Provider (IdP)
AUTHENTICATION_PUBLIC_KEYS=[http://172.24.222.70:8081/api/v1/oidc/jwks]
AUTHENTICATION_AUTHORITY=http://172.24.222.70:8081
# Callback URL đi qua Nginx Frontend (cổng 3000)
AUTHENTICATION_CALLBACK_URL=http://openmetadata.dev.agribank.com.vn:3000/callback
# Phân quyền
AUTHORIZER_PRINCIPAL_DOMAIN=agribank.com.vn
AUTHORIZER_ADMIN_PRINCIPALS=[phuledinh]
AUTHORIZER_USE_ROLES_FROM_PROVIDER=true
AUTHORIZER_DEFAULT_OAUTH_ROLE=BasicConsumer
# OIDC Client Credentials
OIDC_CLIENT_ID=openmetadata
# QUAN TRỌNG: Phải dùng $$ để escape ký tự $ trong Docker Compose,
# nếu chỉ để 1 dấu $ thì Docker Compose sẽ nuốt mất biến và gửi secret rỗng!
OIDC_CLIENT_SECRET=Agribank@1234
# OIDC Endpoints & Server URL (trỏ về Frontend port 3000)
OIDC_DISCOVERY_URI=http://172.24.222.70:8081/api/v1/oidc/.well-known/openid-configuration
OIDC_CALLBACK=http://openmetadata.dev.agribank.com.vn:3000/callback
OIDC_SERVER_URL=http://172.24.222.70:8081
# OIDC_SCOPE=openid+email+profile